services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: saas_user
      POSTGRES_PASSWORD: strongpassword
      POSTGRES_DB: saas_production
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U saas_user"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7

  web:
    build: .
    command: >
      bash -c "
      bundle exec rails db:prepare &&
      bundle exec rails s -b 0.0.0.0 -p 3000
      "
# bundle exec rails db:create db:migrate &&
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:3000/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs   
    depends_on:
      - web

volumes: 
  db_data:
