services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: saas_user
      POSTGRES_PASSWORD: strongpassword
      POSTGRES_DB: saas_production
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7

  web:
    build: .
    command: >
      bash -c "
      bundle exec rails db:create db:migrate &&
      bundle exec puma -C config/puma.rb -b 0.0.0.0 -p 3000
      "
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs   # for SSL later
    depends_on:
      - web

volumes: 
  db_data:
