name: Deploy FullStack

on: 
  push: 
    branches: [ main ]
    
jobs:
  frontend: 
    name: Deploy frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4 
        with:
          node-version: 20 
      
      - run: |
          cd frontend
          npm install 
          npm run build

      - uses: aws-actions/configure-aws-credentials@v4
        with: 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - run: |
          aws s3 sync frontend/build s3://${{ secrets.FRONTEND_BUCKET }} --delete
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CF_DISTRIBUTION_ID }} --path "/*"
  
  backend: 
    name: Deploy Backend 
    runs-on: ubuntu-latest
    needs: frontend
    steps:
      - uses: actions/checkout@v4 

      - name: Copy backend to EC2 
        uses: appleboy/scp-action@v0.1.7
        with: 
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "backend,docker-compose.yaml"
          target: "/home/ubuntu/app"

      - name: Deploy backend via SSH 
        uses: appleboy/ssh-action@v0.1.3
        with: 
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          debug: true
          use_insecure_cipher: true
          script: |
            cd /home/ubuntu/app/backend
            sudo docker compose down
            sudo docker compose up -d --build

      - name: Slack notification for successful deployment 
        if: success()
        run: |
          curl -X POST -H 'Content-type: application/json' \
            --data '{"text":"=> Frontend deployed successfully to Claude Staging!"}' \
            ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Slack notification for faliure deployment 
        if: failure()
        run: |
          curl -X POST -H 'Content-type: application/json' \
            --data '{"text":"=> Frontend deployment to Claude Staging failed!"}' \
            ${{ secrets.SLACK_WEBHOOK_URL }}